# FROM https://hub.docker.com/_/mysql
version: "3.1"
services:
  mysql:
    container_name: mysql
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./data/:/var/lib/mysql
      - ./conf/my.cnf:/etc/my.cnf
      - ./log:/var/log/mysql
    command:
      - --default-authentication-plugin=mysql_native_password
    labels:
      createdBy: Apps
    networks:
      - app-network
  adminer:
    container_name: adminer
    image: adminer:4.8.1-standalone
    restart: always
    ports:
      - ${PGSQL_ADMINER_PORT}:8080
    labels:
      createdBy: Apps
    networks:
      - app-network
networks:
  app-network:
    external: true
